/* Common styles for both light and dark modes */
body {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    background-color: #f8f9fa;
    line-height: 1.5;
    margin: 0;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    margin-bottom: 20px;
    border: 0px solid #ced4da;
    border-radius: 0px;
    padding: 10px;
}

h2, small {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: 450;
}

legend {
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.radio label {
    display: block;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-weight: 450;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Styles for dark mode */
html.dark {
    --tw-bg-opacity: 1;
    background-color: rgb(18 18 18 / var(--tw-bg-opacity));
    color: hsla(0, 0%, 100%, 0.87);
    min-height: 100vh;
}

.dark body {
    background-color: #121212;
}

.dark form {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.dark input[type="text"] {
    background-color: #1e1e1e;
    color: #fff;
}

.dark h2, .dark small {
    color: #fff;
}

.dark legend {
    color: #fff;
}

.dark .btn-primary {
    background-color: #2196F3;
}

.dark .btn-primary:hover {
    background-color: #1976D2;
}
